@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: sans-serif;

}

.navbar{
    /* height: 100px; */
    background-color: #344978;
    position: absolute;
    z-index: 1;
}

.navmenus a{
    color: #fff;
    transition: all .3s;
} 

.navbar-nav .nav-list-item:hover a{
   color: #bbb;
   border-bottom: 2px solid rgb(45, 138, 146);

}


.rightside{
    margin-left: 50px;
}



input[type="search"] {
    width: 0;
    color: #fff;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #d6d2d2;
    visibility: hidden;

    transition: all 1s;

  }
  
  .nav-item a i {
    color: #ffff;
  }
  
  .nav-item a:hover input {
    color: #dc0e0e;
    border-bottom: 2px solid #a04a4a;
    width: 200px;
    visibility: visible;
    
  }
  
 
  



input[type="search"] {
    color: #fff;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #d6d2d2;
  }
  
  .nav-item a i {
    color: #ffff;
  }
  
  .nav-item a:hover i {
    color: #dc0e0e;
  }
  
  .nav-item a:hover ~ input[type="search"] {
    color: #dc0e0e;
  }


.countdot{
   font-size: 7px;
}



/* Start Products Section  */

#products{
    /* background-color: rgb(86, 105, 135); */
    background:linear-gradient( #444e64,rgb(65, 73, 100));



}

.productscontainer{
    height: 130px;
    display: flex;
    justify-content: center;
    /* background: black; */

    position: relative;
}

.productmenus{
    position: absolute;
    top: -10px;
    
}

.productlines{
    width: 70px;
    height: 4px;
    background-color: #8a98d4;
    border-radius: 30px;

}

.productstitle{
    font-family: 'Caveat', cursive;
}




.productmenus .list-unstyled .productitems{
    border-radius: 30px;
    padding: 5px 15px;
    transition: all .5s;

    
}




.productitems:hover{
    background:linear-gradient( #446098,rgb(255,255,255,.3));

    opacity: .9;
}

.productitems a{
    font-size: small;
}

.activepd{
    background:linear-gradient( #446098,rgb(255,255,255,.1));
    border: 1px solid #446098;

}

.shopcards:hover{
  color: rgb(62, 117, 62);
}



.salecontainer{
    overflow: hidden;
    transition: all 1s;
    

    position: relative;

}



.salecontainer:hover{
    opacity: .8;
    cursor: pointer;
    transform: scale(1.05);
   

}


.saleproducts{
    background-color: rgb(86, 105, 150);
    overflow-y: hidden;

    display: flex;
    justify-content: center;
    position: relative;
}



.saleproducts span{
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: rgb(62, 54, 6);
}

.saleproducts img{
    width: 200px;
    height: 200px;
}

.saleproducts .card-body{
    width: 100%;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.9));
    position: absolute;
    bottom: 0;

    transition: all .5s;
}

.salecontainer:hover .saleproducts .card-body{
    transform: translateY(100%);
}

.cardhover{
    width: 92.3%;
    background: #515868;
    transition: all 1s;
    /* transform: translateY(100%); */
    position: absolute;
}

.cardhover p{
    color: #f4f4f4;
}

.salecontainer:hover .cardhover{
    transform: translateY(-100%);
    
}

.pditems{
    display: none;
}

.all{
    display: none;
}

.show{
    display: block;
}



/* Start Login Form  */



.modalcontainer{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.8));


    display: flex;
    justify-content: center;
    align-items: center;


    position: fixed;
    left: 0;
    top: 0;

    z-index: 2;

    overflow: hidden;

    
}

.showmodal{
    visibility: hidden;
}


.signupform{
    display: none;
}


.signupform,.loginform{
    width: 400px;
    height: 60%;
    background: linear-gradient(to top left, #364d7b 50%, #344978 50%);

    backdrop-filter: blur(40px);
    border-radius: 5px;
    border: 2px solid #4c4f5a;

    position: relative;
}

.signupform label,.loginform label{
    width: 50px;
    padding: 9px 13px;
    border-radius: 5px 0 0 5px;
    background: #557291;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.signupform h4,.loginform h4{
    margin-bottom: 10px;
}

.smsingin a{
    color: #f4f4f4;
    text-decoration: none;
}

.smsingin{
    background:linear-gradient(#344978,rgba(255,255,255,.1));
    border: 5px solid #344978;
    border-radius: 10px;
    padding: 2px 4px;
}

.smsingin:hover{
    background:linear-gradient(#344978,rgba(255,255,255,.3));

}

.loginactive{
    background: linear-gradient(#304ebc,rgba(255,255,255,.1));
}


.signupform form input,.loginform form input{
     background: #dddd;
}

.signupform form input:focus ,.loginform form input:focus{
    box-shadow: none;
    background: #dfdfdf;

}

.form-group{
   margin-left: 10%;
}

.form-control,.signin{
  
    width: 80%;
    margin-left: 39px;

}


.lock1{
    color: #121314;
    position: absolute;
    top: 203px;
    right: 48px;
}

.lock2{
    color: #121314;
    position: absolute;
    top: 250px;
    right: 48px;
}

.lock3{
    color: #121314;
    position: absolute;
    top:204px;
    right: 48px;
    z-index: 10000000;
}

.btnsmct .btn{
    padding: 3px 25px;
    color: #fff;
    background:linear-gradient(#344978,rgba(255,255,255,.1));
    border: 1px solid #f4f4f4;
} 

.btnsmct .btn:hover{
    background:linear-gradient(#344978,rgba(255,255,255,.3));
    
}



.alertbox{
    width: 200px;
    height: 20px;
    color: #fff;
    background-color: #121314;

    text-align: center;
    line-height: 20px;
    
    position: absolute;
    left: 50%;
    top: 50%;

    transition: animation 1.5s;
    transform: translate(-50%);

    z-index: 5;

    opacity: 0;

}


.alertboxani{
    animation: alertboxani 1s linear;
}

@keyframes alertboxani {
    from{
      opacity: 0;
    }
    to{
     opacity: 1;
     
    }
}




/* Start Item History  */
.itemhistory{
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;

    position: fixed;
    left: 0;
    top: 0;

    z-index: 10;
}



.historylists .goodstitles li{
    border-bottom: 1px solid #121314;
}

.goodctn ul{
    border-bottom: 1px solid #121314;

}

.itemheaders{
    /* background-color: #8a98d4; */
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    
}


.fa-circle-xmark{
    color: #979393;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 0;
}

.fa-circle-xmark:hover{
    opacity: .7;
}


.itemhistoryshow{
    display: none;
}

.removeul {
    background:none ;
   border: none;
   position: absolute;
   right: 85px;
}
/* End Item History  */