@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: sans-serif;

}

.navbar{
    /* height: 100px; */
    background-color: #344978;
    position: fixed;
    z-index: 1;
}

.navbar a h4{
    font-family: 'Caveat', cursive;
    
}

.navmenus a{
    color: #fff;
    transition: all .3s;
} 



.navbar-nav .nav-list-item:hover a{
   color: #bbb;
   border-bottom: 2px solid rgb(45, 138, 146);

}


.rightside{
    margin-left: 50px;
}

@media only screen and (max-width: 1007px) {
    .rightside{
        margin-left:0px;
    }

    .navbar-nav .nav-list-item:hover a{
        color: #bbb;
         border-bottom: none;
     
     }


}



input[type="search"] {
    width: 0;
    color: #fff;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #d6d2d2;
    visibility: hidden;

    transition: all 1s;

  }
  
  .nav-item a i {
    color: #ffff;
  }
  
  .nav-item a:hover input {
    color: #ececf8;
    border-bottom: 2px solid #cab0b0;
    width: 150px;
    visibility: visible;
    
  }
  
 
  
  .navbuttons{
    border: none;

    position: absolute;
    right: 93px;
    top: 33px;
  }

  .navbuttons:focus{
    border: none;
  }




.countdot{
   font-size: 7px;
}


/* End Nav Bar  */

/* Start Banner Section  */
.banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(10deg,#586d9a,#5c7b9d);
    margin: 0;
    overflow: hidden;
    position: relative;
}

.textsidebanner{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.textsidebanner small{
    margin-left: -58%;
    margin-top: 20%;
}

.textsidebanner h1{
    
    font-size: 65px;
    color: #000;
 
    -webkit-text-stroke: 2px #4488b2;
    position: absolute;
    left:10% ;
    top: 42%;
}






@keyframes imgtitleani{
   
    to{
        transform: translate(-100%);
        opacity: 0;
    }
}

.textsidebanner p{
    width: 300px;
    margin-left: -15%;
    margin-top: 10%;

    transition: all 2s;

    animation:textsidebanner-p 2s ;
}

@keyframes textsidebanner-p{
    from{
       transform: translate(-10%);
       opacity: .5; 
    }

    to{
        transform: translate(0);
        opacity: 1;
    }
}

.textsidebanner .dtl{
    background-color: #344978;
    border: none;
    padding: 5px 20px;
    margin-left: -43%;
}

.dtl a{
    text-decoration: none;
}


.cta {
    border: none;
    background: none;
    margin-top: 15px;

    animation:textsidebanner-p 1s ;

  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



.leftarr,.rightarr{
    width: 30px;
    height: 30px;
    color: #425888 ;
    background: linear-gradient(10deg,#586d9a,#5c7b9d,rgba(255,255,255,.1));
    border: 1px solid #5c7b9d;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;

}

.leftarr{
    
    left: 15px;
}

.rightarr{

    right: 15px;
    

}

.leftarr:hover,.rightarr:hover{
    background: linear-gradient(10deg,#6175a0,#648cb6,rgba(255,255,255,.1));

}





.imgside{
    height: 100vh;
    background: linear-gradient( rgb(86, 105, 150) 55%,#425888 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcontainer{
    width: 400px;
    height: 450px;
    background: linear-gradient(10deg,#586d9a,#5c7b9d,rgba(255,255,255,.1));
    border: 10px solid  #dae0ed;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 2s;

    position: relative;
    overflow: hidden;
}


.banner-img{
    width: 400px;
    height: 425px;

    position: absolute;

    display: none;

    transition: all 1.5s;

    /* visibility: hidden; */
}

.bannerimgshow{

    display: block;
    animation : bannershowani .4s linear;
    
}



@keyframes bannershowani{
    from{
        transform: translate(30%);
    }
    to{
        transform: translate(0);
    }
}

.imgtits{
    display: none;
}

.imgtitleani{

    display: block;
    animation : bannershowani .4s linear;

}


@media only screen and (max-width: 1007px) {
    .textsidebanner small{
        margin-left: -65%;
        margin-top: 10%;
    }
    
    .textsidebanner h1{
        position: absolute;
        left: 5%;
        top: 34%; 
        z-index: 1;

    }
    
    .textsidebanner p{
    
        margin-left: 10%;
        margin-top: 15%;
    }
    
    .textsidebanner .dtl{
      
        margin-left: -43%;
    }


}

@media only screen and (max-width: 768px) {
    .textsidebanner{
        position: absolute;
        bottom: 10px;
    }

    .textsidebanner small{
        margin-left: -80%;
        margin-top: -0%;
    }
    
    .textsidebanner h1{
        position: absolute;
        left: 10px; 
        top: 5%;   
        z-index: 1;   
    }
    
    .textsidebanner p{
    
        margin-left: -40%;
        margin-top: 10%;
    }
    
    .textsidebanner .dtl{
      
        margin-left: -77%;
    }

    .imgcontainer{
        width: 300px;
        height: 350px;
        margin-top: -13%;
    }

    .cta{
        /* margin-top: -50%; */
        position: absolute;
        left: 30%;
        bottom: 6px;
        
    }
}
/* End Banner Section  */


/* Start About Us Section  */
.aboutuss{
    width: 100%;
    height: 620px;
    background: linear-gradient(rgb(86, 105, 150),rgb(86, 105, 140));

    display: flex;
    justify-content: center;

    position: relative;
    
}

.aboutustext{
    font-size: 250px;
    color: transparent;
    /* -webkit-text-stroke: 3px #576ec1; */
    -webkit-text-stroke: 3px  #444e64;
    margin-top: -20px;

    /* z-index: 1; */
}

.left-aboutusbox{
    width: 400px;
    height: 550px;
    /* background: linear-gradient(10deg,#6580ba,#5c7b9d); */
    background: #425888;
    position: absolute;
    left: 20%;
    bottom: 0;
}

.left-aboutusbox h3{

    color: #0c1832;
}

.left-aboutusbox p{
    font-size: 18px;
    color: #152445;
    margin-left: -15%;
    margin-top: 10px;
}

.right-aboutusbox{
    width: 400px;
    height: 400px;
    background: #1d3568;
    position: absolute;
    right: 20%;
    bottom: 0;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-aboutusboxtext{
    width: 300px;
    height: 350px;
}
/* End About Us Section  */



/* Start Products Section  */

.products{
    /* background-color: rgb(86, 105, 135); */
    background:linear-gradient( #444e64,rgb(65, 73, 100));



}

.productscontainer{
    height: 130px;
    display: flex;
    justify-content: center;
    /* background: black; */

    position: relative;
}

.productmenus{
    position: absolute;
    top: 30px;
    
}

.productlines{
    width: 70px;
    height: 4px;

    background-color: #8a98d4;
    border-radius: 30px;

    position: absolute;
    top: 10px;


}

.productstitle{
    font-family: 'Caveat', cursive;
}




.productmenus .list-unstyled .productitems{
    border-radius: 30px;
    padding: 5px 15px;
    transition: all .5s;

    
}




.productitems:hover{
    background:linear-gradient( #446098,rgb(255,255,255,.3));

    opacity: .9;
}

.productitems a{
    font-size: small;
}

.activepd{
    background:linear-gradient( #446098,rgb(255,255,255,.1));
    border: 1px solid #446098;

}

.shopcards:hover{
  color: rgb(62, 117, 62);
  cursor: pointer;
}

.shopcardbtn:hover{
    cursor: pointer;
}


.salecontainer{
    overflow: hidden;
    transition: all 1s;
    

    position: relative;

}



.salecontainer:hover{
    opacity: .8;
    cursor: pointer;
    transform: scale(1.05);
   

}


.saleproducts{
    background-color: rgb(86, 105, 150);
    overflow-y: hidden;

    display: flex;
    justify-content: center;
    position: relative;
}



.saleproducts span{
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: rgb(62, 54, 6);
}

.saleproducts img{
    width: 200px;
    height: 200px;
}





.saleproducts .card-body{
    width: 100%;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.9));
    position: absolute;
    bottom: 0;

    transition: all .5s;
}

.salecontainer:hover .saleproducts .card-body{
    transform: translateY(100%);
}

.cardhover{
    width: 92.3%;
    background: #515868;
    transition: all 1s;
    /* transform: translateY(100%); */
    position: absolute;
}

.cardhover p{
    color: #f4f4f4;
}

.salecontainer:hover .cardhover{
    transform: translateY(-100%);
    
}



.pditems{
    display: none;
}

.all{
    display: none;
}

.show{
    display: block;
}





/* Start Login Form  */



.modalcontainer{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.8));


    display: flex;
    justify-content: center;
    align-items: center;


    position: fixed;
    left: 0;
    top: 0;

    z-index: 2;

    overflow: hidden;

    
}

.modalcontainer{
    visibility: hidden;
}


.signupform{
    display: none;
}


.signupform,.loginform{
    width: 400px;
    height: 60%;
    background: linear-gradient(to top left, #364d7b 50%, #344978 50%);

    backdrop-filter: blur(40px);
    border-radius: 5px;
    border: 2px solid #4c4f5a;

    position: relative;
}

.signupform label,.loginform label{
    width: 50px;
    padding: 9px 13px;
    border-radius: 5px 0 0 5px;
    background: #557291;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.signupform h4,.loginform h4{
    margin-bottom: 10px;
}

.smsingin a{
    color: #f4f4f4;
    text-decoration: none;
}

.smsingin{
    background:linear-gradient(#344978,rgba(255,255,255,.1));
    border: 5px solid #344978;
    border-radius: 10px;
    padding: 2px 4px;
}

.smsingin:hover{
    background:linear-gradient(#344978,rgba(255,255,255,.3));

}

.loginactive{
    background: linear-gradient(#304ebc,rgba(255,255,255,.1));
}


.signupform form input,.loginform form input{
     background: #dddd;
}

.signupform form input:focus ,.loginform form input:focus{
    box-shadow: none;
    background: #dfdfdf;

}

.form-group{
   margin-left: 10%;
}

.form-control,.signin{
  
    width: 80%;
    margin-left: 39px;

}


.lock1{
    color: #121314;
    position: absolute;
    top: 203px;
    right: 48px;
}

.lock2{
    color: #121314;
    position: absolute;
    top: 250px;
    right: 48px;
}

.lock3{
    color: #121314;
    position: absolute;
    top:204px;
    right: 48px;
    z-index: 10000000;
}

.btnsmct .btn{
    padding: 3px 25px;
    color: #fff;
    background:linear-gradient(#344978,rgba(255,255,255,.1));
    border: 1px solid #f4f4f4;
} 

.btnsmct .btn:hover{
    background:linear-gradient(#344978,rgba(255,255,255,.3));
    
}



.alertbox{
    width: 200px;
    height: 20px;
    color: #fff;
    background-color: #121314;

    text-align: center;
    line-height: 20px;
    
    position: absolute;
    left: 50%;
    top: 50%;

    transition: animation 1.5s;
    transform: translate(-50%);

    z-index: 5;

    opacity: 0;

}


.alertboxani{
    animation: alertboxani 1s linear;
}

@keyframes alertboxani {
    from{
      opacity: 0;
    }
    to{
     opacity: 1;
     
    }
}




/* Start Item History  */
.itemhistory{
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;

    position: fixed;
    left: 0;
    top: 0;

    z-index: 10;
}



.historylists .goodstitles li{
    border-bottom: 1px solid #121314;
}

.goodctn ul{
    border-bottom: 1px solid #121314;

}

.itemheaders{
    /* background-color: #8a98d4; */
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    
}


.fa-circle-xmark{
    color: #979393;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 0;
}

.fa-circle-xmark:hover{
    opacity: .7;
}


.itemhistoryshow{
    display: none;
}

.removeul {
    background:none ;
   border: none;
   position: absolute;
   right: 85px;
}
/* End Item History  */