@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: capitolina, serif;
    font-style: normal;
    font-weight: 300;
    color: #000;

    overflow-x: hidden
}







@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Oswald:wght@300&display=swap');

.navbar {
    /* height: 100px; */
    background-color: #344978;
    position: fixed;
    z-index: 1000;

    font-family: 'Crimson Text', serif;
    font-family: 'Oswald', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.navbar a img {

    border-radius: 50%;
}


.navmenus a {
    color: #fff;
    transition: all .3s;

}



.navbar-nav .nav-list-item:hover a {
    color: #bbb;
    border-bottom: 2px solid rgb(45, 138, 146);

}


.rightside {
    margin-left: 50px;
}





input[type="search"] {
    width: 0;
    color: #fff;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #d6d2d2;
    visibility: hidden;

    transition: all 1s;

}

.nav-item a i {
    color: #ffff;
}

.nav-item a:hover input {
    color: #ececf8;
    border-bottom: 2px solid #cab0b0;
    width: 150px;
    visibility: visible;

}



.navbuttons {
    border: none;

    position: absolute;
    right: 93px;
    top: 33px;
}

.navbuttons:focus {
    border: none;
}




.countdot {
    font-size: 7px;
}





/* End Nav Bar  */

/* Start Banner Section  */
.banner {
    width: 100%;
    /* height: 100vh; */
    height: 130vh;
    background: linear-gradient(10deg, #586d9a, #5c7b9d);
    margin: 0;
    overflow: hidden;
    position: relative;
}

.textsidebanner {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    transform: translateY(-10%);
}

.textsidebanner small {
    margin-left: -48%;
    margin-top: 20%;
    color: #000;
}



.pftitle {
    margin-left: -15%;
    margin-top: 10px;

}


.textsidebanner .pftitle h1 {

    font-size: 75px;
    /* color: #000; */
    color: #021d3f;
    margin-bottom: 0px;
   
    font-family: capitolina, serif;
    font-style: normal;
    font-weight: 400;
}



.bannertxt {


    font-family: 'Crimson Text', serif;
    font-family: 'Oswald', sans-serif;

}

.abus {

    font-size: 14px;
    position: absolute;

    /* left: 0;
    top: 50%; */

    transform: rotate(-90deg) translateX(-800px) translateY(-10px);

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
}


.line1,
.line2 {
    width: 50px;
    height: 2px;
    /* background: #000; */
    margin: 10px;
    background: #1d3568;
}

@keyframes imgtitleani {

    to {
        transform: translate(-100%);
        opacity: 0;
    }
}

.textsidebanner p {
    width: 300px;
    margin-left: -15%;
    margin-top: 10%;

    transition: all 3s;

    animation: textsidebanner-p 3s;
}

@keyframes textsidebanner-p {
    from {
        transform: translate(-10%);
        opacity: .5;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

.textsidebanner .dtl {
    background-color: #344978;
    border: none;
    padding: 5px 20px;
    margin-left: -15%;
}

.dtl a {
    text-decoration: none;
}


.cta {
    border: none;
    background: none;
    margin-top: 15px;

    animation: textsidebanner-p 3s;

}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



.leftarr,
.rightarr {
    width: 30px;
    height: 30px;
    color: #425888;
    background: linear-gradient(10deg, #586d9a, #5c7b9d, rgba(255, 255, 255, .1));
    border: 1px solid #5c7b9d;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;

}

.leftarr {

    left: 15px;
}

.rightarr {

    right: 15px;


}

.leftarr:hover,
.rightarr:hover {
    background: linear-gradient(10deg, #6175a0, #648cb6, rgba(255, 255, 255, .1));

}





.imgside {
    /* height: 100vh; */
    height: 130vh;
    background: linear-gradient(rgb(86, 105, 150) 55%, #425888 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcontainer {
    width: 450px;
    height: 500px;
    background: linear-gradient(10deg, #586d9a, #5c7b9d, rgba(255, 255, 255, .1));
    /* border: 10px solid #dae0ed; */

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 4s;

    position: relative;
    overflow: hidden;
}


.banner-img {
    width: 400px;
    height: 425px;

    position: absolute;

    display: none;

    transition: all 4s;

    /* visibility: hidden; */
}

.bannerimgshow {

    display: block;
    animation: bannershowani 2s ease-in-out;

}



@keyframes bannershowani {
    from {
        transform: translate(100%);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

.imgtits {
    display: none;
}

.imgtitleani {

    display: block;
    animation: bannershowani 2s linear;

}



/* End Banner Section  */


/* Start About Us Section  */
.aboutuss {
    width: 100%;
    height: 150vh;
    background: linear-gradient(rgb(86, 105, 150), rgb(86, 105, 140));

    display: flex;
    justify-content: center;

    position: relative;


}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display:ital@1&display=swap');

.aboutustext {
    font-size: 250px;
    color: #4e5e82;
    /* -webkit-text-stroke: 3px #576ec1; */
    /* -webkit-text-stroke: 3px #444e64; */
    /* -webkit-text-stroke: 3px linear-gradient(rgb(86, 105, 150), rgb(85, 116, 173)); */


    transform: translateY(20%), rotate(180deg);

    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    /* z-index: 1; */


}

.aboutustextani {
    animation: aboutustextani 1.5s;
}

@keyframes aboutustextani {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.left-aboutusbox {
    width: 500px;
    height: 650px;
    /* background: linear-gradient(10deg,#6580ba,#5c7b9d); */
    background: #425888;
    position: relative;
    position: absolute;
    left: 20%;
    bottom: 0;

    overflow: hidden;


    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-style: normal;
    font-weight: 300;


}


.left-aboutusbox:hover {
    transform: translateY(-5px);
}


.left-aboutusbox h3 {

    color: #0c1832;
}

.left-aboutusbox p {
    font-size: 18px;
    color: #152445;
    margin-left: -15%;
    margin-top: 10px;
}

.left-aboutusboxani {
    animation: left-aboutusboxani 2s linear;

}

@keyframes left-aboutusboxani {
    from {
        height: 0;
    }

    to {
        height: 550px;
    }
}




.right-aboutusbox {
    width: 400px;
    height: 400px;
    background: #1d3568;
    position: absolute;
    right: 20%;
    bottom: 0;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-style: normal;
    font-weight: 300;



}

.right-aboutusbox:hover {
    transform: translateY(-5px);
}

.right-aboutusboxtext {
    width: 300px;
    height: 350px;
}

.right-aboutusboxani {
    animation: right-aboutusboxani 2s linear;
}

@keyframes right-aboutusboxani {
    from {
        height: 0;
    }

    to {
        height: 400px;
    }
}

.right-aboutusboxtextani {
    animation: right-aboutusboxtextani 2s linear;

}

@keyframes right-aboutusboxtextani {
    from {
        height: 0;
    }

    to {
        height: 350px;
    }
}




@media only screen and (max-width: 1007px) {
    .aboutustext {
        font-size: 150px;
        margin-top: 10px;
    }

    .left-aboutusbox {
        left: 5%;
    }

    .right-aboutusbox {
        right: 5%;
    }


}

@media only screen and (max-width: 768px) {
    .aboutustext {
        font-size: 100px;
        margin-top: 10px;
    }

    .left-aboutusbox {
        width: 300px;
        left: 4%;
    }

    .right-aboutusbox {
        width: 300px;
        right: 4%;
    }

    .right-aboutusboxtext {
        width: 200px;
    }


}


/* End About Us Section  */


/* Start Proposition Section  */
.proposition-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(10deg, #586d9a, #5c7b9d);

    /* background-color: #3f485c; */
    font-family: capitolina, serif;
    font-style: normal;
    font-weight: 300;


    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    overflow: hidden;

    position: relative;

    transition: all 2.5s;
}





/* End Propositon Section  */




/* Start Products Section  */
#products {

    width: 100%;
    height: 280vh;
    background: linear-gradient(10deg, #586d9a, #5c7b9d);


}


.productscontainer {
    height: 130px;
    display: flex;
    justify-content: center;
    /* background: black; */

    position: relative;

    color: #000;


}

.productmenus {
    position: absolute;
    top: 30px;

}

.productlines {
    width: 70px;
    height: 4px;

    background-color: #8a98d4;
    border-radius: 30px;

    position: absolute;
    top: 200px;



}

.productstitle {
    width: 500px;
    /* font-family: 'Caveat', cursive; */
    transform: translateY(200%);
}


.pditemcontainer {
    transform: translateY(25%);
}

.productmenus .list-unstyled .productitems {
    border-radius: 30px;
    padding: 5px 15px;
    transition: all .5s;


    font-family: 'Crimson Text', serif;
    font-family: 'Oswald', sans-serif;


    transform: translateY(900%);

}




.productitems:hover {
    background: linear-gradient(#446098, rgb(255, 255, 255, .3));

    opacity: .9;
}

.productitems a {
    font-size: small;
    color: #000;
}

.activepd {
    background: linear-gradient(#446098, rgb(255, 255, 255, .1));
    border: 1px solid #446098;

}


.shopcards:hover {
    color: rgb(62, 117, 62);
    cursor: pointer;
}

.shopcardbtn:hover {
    cursor: pointer;
}




.salecontainer {
    width: 300px;
    overflow: hidden;
    transition: all 1s;


    position: relative;

    margin: 10px;
}



.salecontainer:hover {
    opacity: .8;
    cursor: pointer;
    transform: scale(1.05);


}

.salecontainerani {
    animation: salecontainerani 1.5s;
}

@keyframes salecontainerani {
    from {
        transform: translate(-100%);
    }

    to {
        transform: translate(0);
    }
}


.saleproducts {
    /* background-color: rgb(86, 105, 150); */
    /* background:rgb(106, 135, 164) ; */
    background: linear-gradient(rgb(86, 105, 150) 74%, #425888 20%);

    border: none;

    overflow-y: hidden;

    display: flex;
    justify-content: center;
    position: relative;
}



.saleproducts span {
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: rgb(62, 54, 6);
}

.saleproducts img {
    width: 200px;
    height: 200px;
}





.saleproducts .card-body {
    width: 100%;
    position: absolute;
    bottom: 0;

    transition: all .5s;
}

.salecontainer:hover .saleproducts .card-body {
    transform: translateY(100%);
}

.cardhover {
    width: 92.3%;
    background: #515868;
    transition: all 1s;
    /* transform: translateY(100%); */
    position: absolute;
}

.cardhover p {
    color: #f4f4f4;
}

.salecontainer:hover .cardhover {
    transform: translateY(-100%);

}



.pditems {
    display: none;
}

.all {
    display: none;
}

.show {
    display: block;
    animation: bannershowani .4s linear;

}



/* Start Stroy Section  */
.testimonial {
    width: 100%;
    height: 600px;
    background-color: rgb(58, 67, 87);
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}


.squaretest {
    width: 250px;
    height: 330px;

    border: 3px solid #30497e;
    box-shadow: 1px 1px 10px 5px #30497e;
    position: relative;

    position: absolute;
    top: 25%;
    left: 10%;
}

.testiimg {
    width: 250px;
    border: 2px solid #606f7d;
    background: rgb(84, 97, 125);
    position: absolute;
    left: -50%;
    top: -30%;
}

.testiimg2 {
    width: 250px;
    border: 2px solid #606f7d;

    position: absolute;
    right: -30%;
    bottom: -30%;
}

.right-testimonial {
    height: 600px;
    background: rgb(71, 85, 105);
    position: relative;
}

.right-testimonial .upline {
    width: 70px;
    height: 4px;
    background: linear-gradient(10deg, #586d9a, #5c7b9d);
    border-radius: 10px;

    position: absolute;
    top: 100px;
    left: 27%;
}

.testimotext {
    font-family: 'Caveat', cursive;
    color: #021d3f;
    font-size: 50px;
    margin-top: 13%;
}

.testparagraph {
    width: 400px;
    text-align: justify;
    letter-spacing: 1px;
    margin-left: 27%;
    margin-top: 5%;
}


@media only screen and (max-width:1007px) {
    .squaretest {
        left: 14.5%;

    }

    .upline {
        display: none;
    }

    .testparagraph {
        width: 280px;
        margin-left: 20%;
        letter-spacing: 1px;
    }
}


@media only screen and (max-width:768px) {
    .squaretest {
        width: 150px;
        height: 230px;

    }

    .testiimg {
        width: 160px;

    }

    .testiimg2 {
        width: 160px;
    }

    .upline {
        display: none;
    }

    .testparagraph {
        width: 230px;
        margin-left: 20%;
        text-align: start;
    }





}

/* End Stroy Section  */




/* Start Blog Section  */

#blog {
    background: linear-gradient(10deg, #586d9a, #5c7b9d);



}


/* End Blog Section  */

/* Start Servic Section  */
#service {
    width: 100%;
    background: linear-gradient(rgb(86, 105, 150), rgb(86, 105, 140));

}



.serviccontainer,
.service,
.seviceheadertext {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: capitolina, serif;
    font-style: normal;
    font-weight: 400;

    /**/
}

.sercietitletext {
    width: 500px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;



}

.dsfl {
    color: #021d3f;
}


.servicecared {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #f4f4f4;

    transform: translateY(-30%);
}


.servicecard1,
.servicecard3 {
    width: 350px;
    height: 400px;
    background-color: #3f485c;

    text-align: center;



    font-family: capitolina, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    padding: 15px;




}


.servicecard2 {
    width: 400px;
    height: 500px;
    background-color: #021d3f;

    text-align: center;

    font-family: capitolina, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;


}


.learnmorebtn {
    border: none;
    padding: 3px 5px;

}

/* End Servic Section  */


/* Start Contact section  */

#contact {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(86, 105, 150), rgb(86, 105, 140));
    /* background-color: #444e64; */

    display: flex;
    justify-content: center;
    align-items: center;


    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;


}

.contactcontainer {

    width: 800px;
    height: 550px;
}


.gittext {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;


}



.form-control {
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
    border: none;
    border-radius: 1px;
}

.form-control:focus {
    background: rgb(86, 105, 160);
    outline: none;
}

.addname {
    /* height: 100px; */
    width: 100%;
    transform: translate(-10px);
    padding: 10px;
}

.addemail {
    /* transform: translate(-17.5%); */
    padding: 10px;
    transform: translate(10px);


}

.sendbtn {
    background-color: #394f7d;
}

/* End Conatact Section  */

/* Start Footer  */


.brandname {
    border-right: 1px solid #000;
}

footer {
    width: 100%;
    height: 200px;
    padding: 10px;
    /* background: linear-gradient(rgb(70, 87, 127), rgb(83, 98, 124)); */
    /* background-color: #3f485c; */
    background: linear-gradient(10deg, #586d9a, #5c7b9d);


}

.footersection {

    margin-top: 50px;
}



.socialaccs ul a i {
    /* color: #021d3f; */
    color: #000;
    font-size: 18px;
    margin: 5px;
}

.footerp {
    /* color: #021d3f; */
    margin-left: 13px;

    transform: translateY(-50%);

}


@media only screen and (max-width:768px) {
    .socialaccs {
        margin-left: 35%;
    }

    .footerp {
        margin-left: 0px;

    }
}

/* End Footer  */







/* Start Login Form  */



.modalcontainer {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .8));


    display: flex;
    justify-content: center;
    align-items: center;


    position: fixed;
    left: 0;
    top: 0;

    z-index: 200;

    overflow: hidden;


}

.modalcontainer {
    visibility: visible;
}





.signupform,
.loginform {
    width: 400px;
    height: 70%;
    background: linear-gradient(to top left, #364d7b 50%, #344978 50%);

    backdrop-filter: blur(40px);
    border-radius: 5px;
    border: 2px solid #4c4f5a;




    position: relative;
}


.form-group {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.candl {
    width: 200px;

}



.signupform label,
.loginform label {
    width: 50px;
    padding: 9px 13px;
    border-radius: 5px 0 0 5px;
    background: #557291;
    /* position: absolute; */

    display: flex;
    justify-content: center;
    align-items: center;

}

.signupform label i,
.loginform label i {
    padding: 10px;

}




.formgroupitems {
    display: flex;
    justify-content: center;
    align-content: center;

    position: relative;
}


.signupform h4,
.loginform h4 {
    margin-bottom: 10px;
}

.smsingin a {
    color: #f4f4f4;
    text-decoration: none;
}

.smsingin {
    background: linear-gradient(#344978, rgba(255, 255, 255, .1));
    border: 5px solid #344978;
    border-radius: 10px;
    padding: 2px 4px;
}

.smsingin:hover {
    background: linear-gradient(#344978, rgba(255, 255, 255, .3));

}

.loginactive {
    background: linear-gradient(#304ebc, rgba(255, 255, 255, .1));
}


.signupform form input,
.loginform form input {
    background: #dddd;
}

.signupform form input:focus,
.loginform form input:focus {
    box-shadow: none;
    background: #dfdfdf;

}







.lock1,
.lock2,
.lock3 {
    color: #121314;
    position: absolute;
    top: 20px;
    right: 20px;
}



.regbtncontainer {
    margin-top: -10px;
}

.btnsmct .btn {
    padding: 3px 25px;
    color: #fff;
    background: linear-gradient(#344978, rgba(255, 255, 255, .1));
    border: 1px solid #f4f4f4;

}

.btnsmct .btn:hover {
    background: linear-gradient(#344978, rgba(255, 255, 255, .3));

}



.alertbox {
    width: 200px;
    height: 20px;
    color: #fff;
    background-color: #121314;

    text-align: center;
    line-height: 20px;

    position: absolute;
    left: 50%;
    top: 50%;

    transition: animation 1.5s;
    transform: translate(-50%);

    z-index: 5;

    opacity: 0;

}


.alertboxani {
    animation: alertboxani 1s linear;
}

@keyframes alertboxani {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}




/* Start Item History  */
.itemhistory {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;

    position: fixed;
    left: 0;
    top: 0;

    z-index: 10;
}



.historylists .goodstitles li {
    border-bottom: 1px solid #121314;
}

.goodctn ul {
    border-bottom: 1px solid #121314;

}

.itemheaders {
    /* background-color: #8a98d4; */
    color: #fff;
    text-transform: uppercase;
    padding: 10px;

}


.fa-circle-xmark {
    color: #979393;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 0;
}

.fa-circle-xmark:hover {
    opacity: .7;
}


.itemhistoryshow {
    display: none;
}

.removeul {
    background: none;
    border: none;
    position: absolute;
    right: 85px;
}

/* End Item History  */





/* Responsive Nav Section  */

/* Styles for iPhone SE screen size (320px width) */
@media (max-width: 200px) {



    .navbar-brand {
        transform: translate(-50%);
    }

    .shopcardbtn {
        transform: translate(150%);
    }

    .lglogin {
        transform: translate(120%);
    }


    .menubar {
        display: block;
        font-size: 20px;
        color: #030534;


        transform: translate(500%);

    }


    .navbackarr {
        margin: 50px;

    }

    .navbackarr .fa-arrow-left-long {
        margin-right: 10px;
    }

    .navbarmenu {
        width: 100vw;
        height: 100vh;
        position: absolute;
        /* left: -50px; */
        right: 0;
        top: 0px;
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));

        display: flex;
        justify-content: end;


    }

    .navbarmenutoggle {
        display: none;
    }

    .navbarcontainer {
        width: 400px;
        height: 100vh;
        background-color: #021d3f;

        transform: translateX(11%);


    }

    .navbar-nav {
        display: grid;
    }

    .searchbox {
        margin-left: -50px;
    }


    .navbar-nav .nav-list-item:hover a {
        color: #bbb;
        border-bottom: none;

    }

    .usericon {
        display: none;
    }

    .loginbtn {
        display: none;
    }

    .setting {
        display: block;
        background-color: #021d3f;
        color: #ffffff;
    }

    .settxt {
        margin-right: 30px;
    }



    .dropdown-menu {
        background-color: #021d3f;
        border: none;
        color: #ffffff;
    }

    .dropdown-item {
        background-color: #021d3f;
        color: white;
        font-size: 13px;
    }

    .dropdown-menu .dropdown-item:hover {
        background-color: #082950;
        color: black;
        font-size: 13px;
    }


}



/* Styles for screen widths between 321px and 768px */
@media (min-width: 201px) and (max-width: 768px) {

    .navbar-brand {
        transform: translate(-50%);
    }

    .shopcardbtn {
        transform: translate(150%);
    }

    .lglogin {
        transform: translate(120%);
    }


    .menubar {
        display: block;
        font-size: 20px;
        color: #030534;


        transform: translate(500%);

    }


    .navbackarr {
        margin: 50px;

    }

    .navbackarr .fa-arrow-left-long {
        margin-right: 10px;
    }

    .navbarmenu {
        width: 100vw;
        height: 100vh;
        position: absolute;
        /* left: -50px; */
        right: 0;
        top: 0px;
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));

        display: flex;
        justify-content: end;


    }

    .navbarmenutoggle {
        display: none;
    }

    .navbarcontainer {
        width: 400px;
        height: 100vh;
        background-color: #021d3f;

        transform: translateX(11%);


    }

    .navbar-nav {
        display: grid;
    }

    .searchbox {
        margin-left: -50px;
    }


    .navbar-nav .nav-list-item:hover a {
        color: #bbb;
        border-bottom: none;

    }

    .usericon {
        display: none;
    }

    .loginbtn {
        display: none;
    }

    .setting {
        display: block;
        background-color: #021d3f;
        color: #ffffff;
    }

    .settxt {
        margin-right: 30px;
    }



    .dropdown-menu {
        background-color: #021d3f;
        border: none;
        color: #ffffff;
    }

    .dropdown-item {
        background-color: #021d3f;
        color: white;
        font-size: 13px;
    }

    .dropdown-menu .dropdown-item:hover {
        background-color: #082950;
        color: black;
        font-size: 13px;
    }

}

/* Styles for screen widths between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {

    .navbar-brand {
        transform: translate(-150%);
    }

    .shopcardbtn {
        transform: translate(340%);
    }

    .lglogin {
        transform: translate(300%);
    }


    .menubar {
        display: block;
        font-size: 20px;
        color: #030534;


        transform: translate(1400%);

    }


    .navbackarr {
        margin: 50px;

    }

    .navbackarr .fa-arrow-left-long {
        margin-right: 10px;
    }

    .navbarmenu {
        width: 100vw;
        height: 100vh;
        position: absolute;
        /* left: -50px; */
        right: 0;
        top: 0px;
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));

        display: flex;
        justify-content: end;


    }

    .navbarmenutoggle {
        display: none;
    }

    .navbarcontainer {
        width: 400px;
        height: 100vh;
        background-color: #021d3f;

        transform: translateX(11%);


    }

    .navbar-nav {
        display: grid;
    }

    .searchbox {
        margin-left: -50px;
    }


    .navbar-nav .nav-list-item:hover a {
        color: #bbb;
        border-bottom: none;

    }

    .usericon {
        display: none;
    }

    .loginbtn {
        display: none;
    }

    .setting {
        display: block;
        background-color: #021d3f;
        color: #ffffff;
    }

    .settxt {
        margin-right: 30px;
    }



    .dropdown-menu {
        background-color: #021d3f;
        border: none;
        color: #ffffff;
    }

    .dropdown-item {
        background-color: #021d3f;
        color: white;
        font-size: 13px;
    }

    .dropdown-menu .dropdown-item:hover {
        background-color: #082950;
        color: black;
        font-size: 13px;
    }

}


/* Styles for screen widths greater than 1024px */
@media (min-width: 1025px) and (max-width:1380px) {

    .navbar-brand {
        transform: translate(-170%);
    }

    .shopcardbtn {
        transform: translate(390%);
    }

    .lglogin {
        transform: translate(350%);
    }


    .menubar {
        display: block;
        font-size: 20px;
        color: #030534;


        transform: translate(1700%);

    }



    .navbackarr {
        margin: 50px;

    }

    .navbackarr .fa-arrow-left-long {
        margin-right: 10px;
    }

    .navbarmenu {
        width: 100vw;
        height: 100vh;
        position: absolute;
        /* left: -50px; */
        right: 0;
        top: 0px;
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));

        display: flex;
        justify-content: end;


    }

    .navbarmenutoggle {
        display: none;
    }

    .navbarcontainer {
        width: 400px;
        height: 100vh;
        background-color: #021d3f;

        transform: translateX(11%);


    }

    .navbar-nav {
        display: grid;
    }

    .searchbox {
        margin-left: -50px;
    }


    .navbar-nav .nav-list-item:hover a {
        color: #bbb;
        border-bottom: none;

    }

    .usericon {
        display: none;
    }

    .loginbtn {
        display: none;
    }

    .setting {
        display: block;
        background-color: #021d3f;
        color: #ffffff;
    }

    .settxt {
        margin-right: 30px;
    }



    .dropdown-menu {
        background-color: #021d3f;
        border: none;
        color: #ffffff;
    }

    .dropdown-item {
        background-color: #021d3f;
        color: white;
        font-size: 13px;
    }

    .dropdown-menu .dropdown-item:hover {
        background-color: #082950;
        color: black;
        font-size: 13px;
    }


}



@media (min-width: 1381px) {
    .menubar {
        display: none;
    }

    .navbackarr {
        display: none;
    }

    .setting {
        display: none;
    }

    .lglogin {
        display: none;
    }


}



/* Responsive Banner  */

@media (max-width: 200px) {

    .textsidebanner{
        position: absolute;
        z-index: -1;
    }


    .textsidebanner small {
        margin-left: -80%;
        margin-top: -0%;
    }

    .textsidebanner h1 {
        position: absolute;
        left: 10px;
        top: 5%;
        z-index: 1;
    }

    .textsidebanner p {

        margin-left: -40%;
        margin-top: 10%;
    }

    .textsidebanner .dtl {

        margin-left: -77%;
    }

    .imgcontainer {
        width: 500px;
        height: 550px;
        margin-top: -13%;
    }

    .cta {

        position: absolute;
        left: 30%;
        bottom: 6px;

    }
}

/* Styles for screen widths between 321px and 768px */
@media (min-width: 201px) and (max-width: 768px) {

  
   
 
    .textsidebanner{
        position: absolute;
        z-index: -1;
    }



    .textsidebanner small {
        margin-left: -80%;
        margin-top: -0%;
    }

    .textsidebanner h1 {
        position: absolute;
        left: 10px;
        top: 5%;
        z-index: 1;
    }

    .textsidebanner p {

        margin-left: -40%;
        margin-top: 10%;
    }

    .textsidebanner .dtl {

        margin-left: -77%;
    }

    .imgcontainer {
        width: 500px;
        height: 550px;
        margin-top: -13%;
    }

    .cta {

        position: absolute;
        left: 30%;
        bottom: 6px;

    }
}



/* Styles for screen widths between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {


    .textsidebanner{
        position: absolute;
        z-index: -1;
    }



    .textsidebanner small {
        margin-left: -80%;
        margin-top: -0%;
    }


    .textsidebanner h1 {
        position: absolute;
        left: 10px;
        top: 5%;
        z-index: 1;
    }

    .textsidebanner p {

        margin-left: -40%;
        margin-top: 10%;
    }

    .textsidebanner .dtl {

        margin-left: -77%;
    }

    .imgcontainer {
        width: 500px;
        height: 550px;
        margin-top: -13%;
    }

    .cta {

        position: absolute;
        left: 30%;
        bottom: 6px;

    }
}



/* Styles for screen widths greater than 1024px */
@media (min-width: 1025px) and (max-width:1380px) {
    .textsidebanner small {
        margin-left: -55%;
        margin-top: 10%;
    }
   
}










/* Responsive About  */

@media (max-width: 200px) {}

/* Styles for screen widths between 321px and 768px */
@media (min-width: 201px) and (max-width: 768px) {}



/* Styles for screen widths between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {}




/* Styles for screen widths greater than 1024px */
@media (min-width: 1025px) and (max-width:1380px) {}



@media (min-width: 1381px) {}




/* Responsive Banner  */

@media (max-width: 200px) {}

/* Styles for screen widths between 321px and 768px */
@media (min-width: 201px) and (max-width: 768px) {}



/* Styles for screen widths between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {}




/* Styles for screen widths greater than 1024px */
@media (min-width: 1025px) and (max-width:1380px) {}



@media (min-width: 1381px) {}




/* Responsive Special Propotion  */

@media (max-width: 200px) {}

/* Styles for screen widths between 321px and 768px */
@media (min-width: 201px) and (max-width: 768px) {}



/* Styles for screen widths between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {}




/* Styles for screen widths greater than 1024px */
@media (min-width: 1025px) and (max-width:1380px) {}



@media (min-width: 1381px) {}






/* Responsive Products  */

@media (max-width: 200px) {}

/* Styles for screen widths between 321px and 768px */
@media (min-width: 201px) and (max-width: 768px) {}



/* Styles for screen widths between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {}




/* Styles for screen widths greater than 1024px */
@media (min-width: 1025px) and (max-width:1380px) {}



@media (min-width: 1381px) {}







/* Responsive Story of perfume  */

@media (max-width: 200px) {}

/* Styles for screen widths between 321px and 768px */
@media (min-width: 201px) and (max-width: 768px) {}



/* Styles for screen widths between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {}




/* Styles for screen widths greater than 1024px */
@media (min-width: 1025px) and (max-width:1380px) {}



@media (min-width: 1381px) {}